html {
  height: 100vh;
}

body {
  height: 1600vh;
  background: #b29881;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

.conatiner {
  /*height: 100vh;
  width: 100%;
  background-image: url(./media/image.png);
  background-size: cover;
  background-position: center;
  position: relative;*/
}

.right-col {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 18em;
  right: 6.5em;
}

.right-col p {
  font-size: 18px;
  color: #f5f5f5;
  font-weight: 400;
}

#icon {
  width: 80px;
  cursor: pointer;
}